{% extends '../index_master.html' %}

{% block content %}

<div class="right_col" role="main">
    <h1 style="text-align:center"> Registro de Usuario</h1>


<main class="container">

    <div class="row">
    
        <div class="col-md-4 offset-md-4">
    
            <form method="post" class="card card-body">
            
                <div class="mb-3" >
                    {% csrf_token %}
                    <label for="id_name" class="form-label">Nombres/Apellidos</label>
                    <input type="text"  name="username" class="form-control" autofocus required maxlength="100" id="id_username" >
                </div>


                <div class="mb-3">
                    <label for="id_password1" class="form-label">Contraseña</label>
                    <input type="password" name="password1" class="form-control" autocomplete="new-password" maxlength="100" required  id="id_password1">
                    <span class="helptext"></span>
                </div>

                <div class="mb-3">
                    <label for="id_password2" class="form-label">Contraseña</label>
                    <input type="password" name="password2" class="form-control" autocomplete="new-password" maxlength="100" required  id="id_password1">
                    <span class="helptext"></span>
                </div>
            
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </form>
            </div>
        </div>
    </main>


    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}