{% extends '../index_master.html'%}

{% block content %}
<div class="right_col" role="main">
  <div>	 
    <h3>Acta de Entrega para: {{ user.apellidos_y_nombres_adryan }}</h3>

   </div>

<form action="" method="POST">
  {%csrf_token%}
  <div style="display: inline-block"> 

    <input type="text" name="keyword" id="keyword" class="form-control" style="width: 200px; display: inline-block" style="width: 200px;">
    <button type="submit" name="search" class="btn btn-success" style="display: inline-block"><i class="fa fa-search"></i></button>

  </div>

<button name="agregar" class="btn btn-primary" onclick="window.location.href='add_actives'"><i class="fa fa-plus"></i>Nuevo activo</button>

<table class="table table-striped border-light">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Categoria</th>
        <th scope="col">Marca/modelo</th>
        <th scope="col">Serie</th>
        <th scope="col">Estado</th>
        <th>Seleccionar</th>

      </tr>
    </thead>
    <tbody>

    {% for u in activos %}
      <tr style="text-transform: uppercase;">
        <th scope="row">{{ u.id  }}</th>
        <td>{{ u.categoria}}</td>
        <td>{{ u.descripcion }}</td>
        <td>{{ u.modelo }}</td>
        <td>{{ u.estado }}</td>

        <td><input type="checkbox" name="activo" value="{{ u.id }}"></td>

        
      </tr>
    {% endfor %}
    </tbody>

  </table>
  <button name="back" class="btn btn-secondary" onclick="history.back(); return false;"> <i class="fa fa-arrow-left"> Volver</i> </button>
  <button type="submit" class="btn btn-primary"  class="fa fa-file" name="generar_acta"><i class="fa fa-file"></i> Generar word</button>

</form>
</div>
{% endblock %}