<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la plantilla</title>
    
    <link rel="stylesheet" href="../INVIC/INVENTARIO/static/FrWork/admin_lte/build/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet">
    <!-- Aquí puedes agregar enlaces a tus archivos CSS y JavaScript -->
    
    <script src="script.js"></script>


  </head>
  <body>
    <!-- Contenido de la plantilla -->
    <header>
        <div class="contenedor" >
            <div class="hijo"><img src="../INVIC/INVENTARIO/static/FrWork/admin_lte/build/images/logoIC.png" alt="Girl in a jacket" width="250" height="50"></div>
        </div>
    </header>

    <nav>

      <div class="">

        <p class="contador1">AEN-HYO-{% now "Y" %}-1-0{{ contador }}</p>
        
      </div>
    </nav>

    <section>
      <p class="acta">Acta de Entrega</p>
    </section>



    <div class="contenedor-datos">
      <div class="tapa2">
        <strong><p>DATOS DEL COLABORADOR</p></strong>
      </div>
      <div>
        <span><strong>Nombres y Apellidos:</strong></span>
         <span class="nombre"><span class="espacionombre">__</span>  {{ user.name }} {{ user.lastname }}</span>
      </div>
      <div>
        <span><strong>Cargo:</strong></span>
        <span class=""><span class="espacionombre1">_______________</span> {{ user.post }}</span>
      </div>
      <div>
        <span><strong>&Aacute;rea:</strong></span>
        <span class=""> <span class="espacionombre">________________</span> {{ user.area }}</span>
      </div>
      <div>
        <span><strong>Tipo:</strong></span>
        <span class=""><span class="espacionombre">________________</span> Asignacion</span>
      </div>
    </div>

    <div class="separador-central">
      <div>
        <span class="separador">____________________________________________________________________________________________________________</span>
      </div>
        <div class="recursos">
        <p>A continuación, se detallan los recursos informáticos</p>
      </div>
    </div>
    

    <div>
       <div class="cabezera-central">
          <div class="cabezera1">
             <span class="unidad">UNID.</span>    
           </div>
           <div class="cabezera2">
              <span class="">DESCRIPCI&Oacute;N</span>       
            </div>
            <div class="cabezera3">
               <span class="">MARCA Y MODELO</span>       
            </div>
            
            <div class="cabezera4">
               <span class="">CODIGO PATRIMONIO</span>       
            </div>

            <div class="cabezera5">
               <span class="">SERIE</span>       
            </div>
            <div class="cabezera6">
                <span class="">OBSERVACIONES</span>       
            </div>
        </div>
    
             
        <div class="cuerpoprincipal" >
            {% for activo in activos %}

              <div class="cuerpo1">
                <span class="">1</span>
              </div>

              <div class="cuerpo2">
                <span class="descripcion">{{ activo.description }}</span>
              </div>

              <div class="cuerpo3">
                <span class="">{{ activo.marc_model }}</span>
              </div>

              <div class="cuerpo4">
                <span class="">{{ activo.serie }}</span>
              </div>
                    
              <div class="cuerpo5">
                <span class="">{{ activo.estade }}</span>
              </div>

              <div class="cuerpo6">
                  <span class="">{{ activo.observations }}</span>
              </div>
      
              {% endfor %}
        </div>
   
    </div>



      <div class="terminos-condiciones">
        <div>
          <span><p>El presente documento deja constancia de que los recursos fueron entregados y recepcionados sin observaciones.</p></span>
        </div>
        <div class="nota">
          <p><strong>IMPORTANTE:</strong><br> Por favor revisen la politica de activos fijos, pues este equipo se encuentra bajo su responsabilidad. <a href="#">https://conecta.continental.edu.pe/</a></p>
        </div>
        <div class="fecha">
          <p>Huancayo, {% now "l, d " %}de {% now "F" %} de {% now "Y" %} </p>
        </div> 
      </div>


      <div>
        <div class="encabezado-entrega">
          <strong><span>Entrega:</span></strong>
   
        </div>
        <div class="encabezado-recibe">
          <strong><span>Recibe:</span></strong>
    
        </div>
      </div>

      
        <div class="Entrega-acta">

          
            <div class="firma">
              <span>FIRMA</span>
            </div>
            <div class="huella">
              <span>HUELLA</span>
            </div>
            <div class="contenedor-huella">
                <span>. <br></span>
            </div>
            <div class="apellidos-nombres">
              <span class="centrar"><strong>RUDDY HINOSTROZA MARTIN</strong> <br>SOPORTE Y RECURSOS TECNOLOGICOS</span>
            </div>
        </div>


        <div >
          <div class="huella2">
            <span>.</span>
          </div>
          <div class="firma1">
          <span>FIRMA</span>
          </div> 

          <div class="contenedor-huella2">
            <span>HUELLA</span>
          </div>

          <div class="apellidos-nombres1">
            <span class="centrar"><span class="centrar"><strong>{{ user.name }} {{ user.lastname }}</strong> <br>{{ user.area }}</span></span>
          </div>
        </div>

      <div>
        <div class="v-line" style="color: white;">
          <br>
          <span>|</span>
          
        </div>

        <div class="v-line1">
          <span>|</span>
        </div>


      </div>

      <footer>
        <div class="barraabajo">
          <div class="barrauno">
            <p style="color:rgb(0, 0, 0)">.</p>
          </div>
          <div class="barrados">
            <p style="color:rgb(0, 0, 0)">.</p>
          </div>
          <div class="continental">
            <p>
              ucontinental.edu.pe <br>
              <strong> Teléfono:</strong>(064) 481430
            </p>
          </div>
      </div> 
      </footer>
      
  </body>
</html>

