{% extends "../index_master.html" %}

{% block content %}
<div class="right_col" role="main">
<h1>Listar Usuarios</h1>

<form action="" method="POST">
  {%csrf_token%}
  <div style="display: inline-block"> 

    <input type="text" name="keyword" id="keyword" class="form-control" style="width: 200px; display: inline-block" style="width: 200px;">
    <button type="submit" name="search" class="btn btn-success" style="display: inline-block"><i class="fa fa-search"></i></button>

  </div>
</form>
<button name="agregar" class="btn btn-primary" onclick="window.location.href='add_user'"><i class="fa fa-plus"></i>Nuevo Usuario</button>
<table class="table table-striped table-light border-light">
  <thead>
    <tr>

      <th scope="col">Apellidos y nombres (ADRYAN)</th>
      <th scope="col">Correo corporativo (ADRYAN)</th>
      <th scope="col">Área de trabajo</th>
      <th scope="col">Ubicación Física</th>


    </tr>
  </thead>
  <tbody>

  {% for u in page_obj %}
    <tr>

      <td>{{ u.apellidos_y_nombres_adryan }}</td> 
      <td>{{ u.correo_corporativo_adryan }}</td>
      <td>{{ u.area_de_trabajo }}</td>
      <td>{{ u.ubicacion_fisica }}</td>
    
      <td>
        <button class="btn btn-warning" onclick="window.location.href='update_user/{{ u.id }}' "><i class="fa fa-refresh"></i> </button>
        <button class="btn btn-danger" onclick="window.location.href='delete_user/{{ u.id }}'"><i class="fa fa-trash"></i> </button>
        {% comment %} <button name="acta" class="btn btn-primary" onclick="window.location.href='generar_acta_entrega/{{ u.id }}'"><i class="fa fa-file-text-o" aria-hidden="true"></i></button> {% endcomment %}
        <button name="acta" class="btn btn-primary" onclick="window.location.href='data_user/{{ u.id }}'"><i class="fa fa-eye" aria-hidden="true"></i></button> 
        <button class="btn btn-info" onclick="window.location.href='info_acta/{{ u.id }}'"><i class="fa fa-envelope-o"></i> </button>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="pagination justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Primero</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
      {% endif %}
      
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
            <span class="sr-only">Siguiente</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Último</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock%}