{% extends "../index_master.html" %}

{% block content %}
<div class="right_col" role="main">
<h1>Actualizar Usuarios</h1>
<form action=" " method="POST">
    {% csrf_token %}



          <div>

            {% for u in usuarios%}
            <input type="hidden" name="id" value="{{ usuario.id }}">
            {% endfor %}
  
          </div>
 

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="col-4 col-form-label">Planilla</label> 
  
            <div class="input-group">
              <input style="width: 50px; height: 40px;"
              id="planilla" name="planilla" type="text" 
              required="required" class="form-control"
              value="{{ usuario.planilla }}">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Unidad de Negocio</label> 
            <div class="input-group">
              <input style="width: 280px; height: 40px;"
              id="unidad_de_negocio" name="unidad_de_negocio" type="text" 
              required="required" class="form-control" value="{{ usuario.unidad_de_negocio }}">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Área de Trabajo</label> 
            <div class="input-group">
              <input style="width: 550px; height: 40px;"
              id="area_de_trabajo" name="area_de_trabajo" type="text" 
              required="required" class="form-control"
              value="{{ usuario.area_de_trabajo }}">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Sub Área de trabajo</label> 
            <div class="input-group">
              <input style="width: 580px; height: 40px;"
              id="sub_area_de_trabajo" name="sub_area_de_trabajo" type="text" 
              required="required" class="form-control" value="{{ usuario.sub_area_de_trabajo }}" >
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Ubicación Fisica</label> 
            <div class="input-group">
              <input style="width: 150px; height: 40px;"
              id="ubicacion_fisica" name="ubicacion_fisica" type="text" 
              required="required" class="form-control" value="{{ usuario.ubicacion_fisica }}">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Local</label> 
            <div class="input-group">
              <input style="width: 130px; height: 40px;"
              id="local" name="local" type="text" 
              required="required" class="form-control" value="{{ usuario.local }}">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Naturaleza de Puesto</label> 
            <div class="input-group">
              <input style="width: 200px; height: 40px;"
              id="naturaleza_de_puesto" name="naturaleza_de_puesto" type="text" 
              required="required" class="form-control" value="{{ usuario.naturaleza_de_puesto }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Nomenclatura de Puesto</label> 
            <div class="input-group">
              <input style="width: 600px; height: 40px;"
              id="nomenclatura_de_puesto" name="nomenclatura_de_puesto" type="text" 
              required="required" class="form-control" value="{{ usuario.nomenclatura_de_puesto }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Tipo de Puesto</label> 
            <div class="input-group">
              <input style="width: 200px; height: 40px;"
              id="tipo_de_puesto" name="tipo_de_puesto" type="text" 
              required="required" class="form-control"  value="{{ usuario.tipo_de_puesto }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Motivo de Alta</label> 
            <div class="input-group">
              <input style="width: 180px; height: 40px;"
              id="motivo_de_alta" name="motivo_de_alta" type="text" 
              required="required" class="form-control" value="{{ usuario.motivo_de_alta }} ">
        </div>
      </div>
  
      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Código de Personal</label> 
            <div class="input-group">
              <input style="width: 150px; height: 40px;"
              id="codigo_de_personal" name="codigo_de_personal" type="text" 
              required="required" value="{{ usuario.codigo_de_personal }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Apellidos y Nombres (ADRYAN)</label> 
            <div class="input-group">
              <input style="width: 400px; height: 40px;"
              id="apellidos_y_nombres_adryan" name="apellidos_y_nombres_adryan" type="text" 
              required="required" class="form-control" value="{{ usuario.apellidos_y_nombres_adryan }} " >
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Género (ADRYAN)</label> 
            <div class="input-group">
              <input style="width: 200px; height: 40px;"
              id="genero_adryan" name="genero_adryan" type="text" 
              required="required" class="form-control" value="{{ usuario.genero_adryan }} ">
        </div>
      </div>


      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Tipo de Contrato (ADRYAN)</label> 
            <div class="input-group">
              <input style="width: 250px; height: 40px;"
              id="tipo_de_contrato_adryan" name="tipo_de_contrato_adryan" type="text" 
              required="required" class="form-control" value="{{ usuario.tipo_de_contrato_adryan }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Tipo de Jornada (ADRYAN)</label> 
            <div class="input-group">
              <input style="width: 200px; height: 40px;"
              id="tipo_de_jornada_adryan" name="tipo_de_jornada_adryan" type="text" 
              required="required" class="form-control" value="{{ usuario.tipo_de_jornada_adryan }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Nacionalidad(ADRYAN)</label> 
            <div class="input-group">
              <input style="width: 200px; height: 40px;"
              id="nacionalidad_adryan" name="nacionalidad_adryan" type="text" 
              required="required" class="form-control" value="{{ usuario.nacionalidad_adryan }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Tiempo de servicio (años)</label> 
            <div class="input-group">
              <input style="width: 100px; height: 40px;"
              id="tiempo_de_servicio_anios" name="tiempo_de_servicio_anios" type="text" 
              required="required" class="form-control" value="{{ usuario.tiempo_de_servicio_anios }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Tiempo de Servicios (meses)</label> 
            <div class="input-group">
              <input style="width: 100px; height: 40px;"
              id="tiempo_de_servicio_meses" name="tiempo_de_servicio_meses" type="text" 
              required="required" class="form-control" value="{{ usuario.tiempo_de_servicio_meses }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Tiempo de Servicios (dias)</label> 
            <div class="input-group">
              <input style="width: 100px; height: 40px;"
              id="tiempo_de_servicio_dias" name="tiempo_de_servicio_dias" type="text" 
              required="required" class="form-control" value="{{ usuario.tiempo_de_servicio_dias }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Correo Coorporativo (ADRYAN)</label> 
            <div class="input-group">
              <input style="width: 300px; height: 40px;"
              id="correo_corporativo_adryan" name="correo_corporativo_adryan" type="text" 
              required="required" class="form-control" value="{{ usuario.correo_corporativo_adryan }} ">
        </div>
      </div>


      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Edad (ADRYAN)</label> 
            <div class="input-group">
              <input style="width: 100px; height: 40px;"
              id="edad_adryan" name="edad_adryan" type="text" 
              required="required" class="form-control" value="{{ usuario.edad_adryan }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Generación (ADRYAN)</label> 
            <div class="input-group">
              <input style="width: 100px; height: 40px;"
              id="generacion_adryan" name="generacion_adryan" type="text" 
              required="required" class="form-control" value="{{ usuario.generacion_adryan }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Jefe Inmediato Jerárquico</label> 
            <div class="input-group">
              <input style="width: 350px; height: 40px;"
              id="jefe_inmediato_jerarquico" name="jefe_inmediato_jerarquico" type="text" 
              required="required" class="form-control" value="{{ usuario.jefe_inmediato_jerarquico }} ">
        </div>
      </div>

      <div class="mb-3" style="display: inline-block; margin-right: 10px;">
        <label style="font-weight: bold;" for="apellidos" class="form-label">Reemplaza a</label> 
            <div class="input-group">
              <input style="width: 300px; height: 40px;"
              id="reemplaza_a" name="reemplaza_a" type="text" 
              required="required" class="form-control" value="{{ usuario.reemplaza_a }} ">
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-4 col-8">
        <button name="submit" type="submit" class="btn btn-warning" ><i class="fa fa-refresh">  Editar Activo</i> </button>
        </div>
      </div>
    </form>
    
    <button 
    name="submit" type="button" class="btn btn-secondary" onclick="location.href='{% url 'list_user' %}'">
    <i class="fa fa-arrow-left"> Volver</i>
  </button>
</div>

{% endblock%}