{% extends "../index_master.html" %}

{% block content %}
<div class="right_col" role="main">
    <h1>Delete Activos</h1>

    <div class="container">
        <h2>Eliminar Activo</h2>

        {% if error %}
            <div class="alert alert-danger">
                <strong>Error:</strong> {{ error }}
            </div>
        {% endif %}

        <p>¿Estás seguro de que deseas eliminar el activo de: <strong>{{ activo.descripcion }}</strong> con ID <strong>{{ activo.id }}</strong>?</p>
        
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'list_actives' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>


{% endblock %}
