{% extends '../index_master.html'%}

{% block content %}





<div class="right_col" role="main">
<h1>Lista de Activos</h1>

<form action="" method="POST">
  {%csrf_token%}
  <div style="display: inline-block"> 

    <input type="text" name="keyword" id="keyword" class="form-control" style="width: 200px; display: inline-block" style="width: 200px;">
    <button type="submit" name="search" class="btn btn-success" style="display: inline-block"><i class="fa fa-search"></i></button>

  </div>
</form>
<button name="agregar" class="btn btn-primary" onclick="window.location.href='add_actives'"><i class="fa fa-plus"></i>Nuevo Activo</button>

<table class="table table-striped border-light">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Modelo</th>
        <th scope="col">Serie/modelo</th>
        <th scope="col">Codigo Inventario</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Ambiente</th>
        <th scope="col">Dirección</th>
        <th scope="col">Declaracion</th>
   


      </tr>
    </thead>
    <tbody>

    {% for u in activos %}
      <tr style="text-transform: uppercase;">
        <th scope="row">{{ u.id  }}</th>
        <td>{{ u.categoria }}</td>
        <td>{{ u.modelo }}</td>
        <td>{{ u.serie}}</td>
        <td>{{ u.codigo_inventario }}</td>
        <td>{{ u.descripcion }}</td>
        <td>{{ u.direccion }}</td>
        <td class="{% if u.declaracion == 'ASIGNADO' %}declaracion-asignado{% elif u.declaracion == 'ACTIVO' %}declaracion-activo{% else %}declaracion-default{% endif %}">{{ u.declaracion }}</td>

        <td>
          <button class="btn btn-warning" onclick="window.location.href='update_actives/{{ u.id }}' "><i class="fa fa-refresh"></i> </button>
          <button class="btn btn-danger" onclick="window.location.href ='delete_actives/{{ u.id }}'"><i class="fa fa-trash"></i> </button>


          <button name="acta" class="btn btn-primary" onclick="window.location.href='data_activo/{{ u.id }}'"><i class="fa fa-eye" aria-hidden="true"></i></button> 
          <button class="btn btn-info" onclick="window.location.href='info_acta/{{ u.id }}'"><i class="fa fa-envelope-o"></i> </button>

        </td>
      </tr>
    {% endfor %}
    </tbody>
  
  </table>
</div>
{% endblock %}