{% extends "../index_master.html" %}

{% block content %}

<div class="right_col" role="main">
  <div>	 
    <h3>DATOS COMPLETOS DEL USUARIO:</h3>

    <div style="height: 20px;"></div> <!-- Separador -->
    <form class="row g-3">
      <fieldset disabled>

        <div class="mb-3" style="display: inline-block; margin-right: 10px;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">APELLIDOS Y NOMBRES(ADRYAN)</label>
          <input style="width: 500px; height: 40px;" type="text" class="form-control" placeholder="{{ user.apellidos_y_nombres_adryan }}">
        </div>
        <div class="mb-3" style="display: inline-block; margin-right: 10px;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">PLANILLA</label>
          <input style="width: 60px; height: 40px;" type="text" class="form-control" placeholder="{{ user.planilla }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">UNIDAD DE NEGOCIOS</label>
          <input style="width: 300px; height: 40px;" type="text" class="form-control" placeholder="{{ user.unidad_de_negocio }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">ÁREA DE TRABAJO </label>
          <input style="width: 600px; height: 40px;" type="text" class="form-control" placeholder="{{ user.area_de_trabajo }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">SUB ÁREA DE TRABAJO </label>
          <input style="width: 600px; height: 40px;" type="text" class="form-control" placeholder="{{ user.sub_area_de_trabajo }}">
        </div>

   
        <div style="height: 20px;"></div> <!-- Separador -->

        <div class="mb-3"style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">UBICACIÓN FÍSICA</label>
          <input style="width: 150px; height: 40px;" type="text" class="form-control" placeholder="{{ user.ubicacion_fisica }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">LOCAL</label>
          <input style="width: 120px; height: 40px;" type="text" class="form-control" placeholder="{{ user.local }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">NATURALEZA DE PUESTO </label>
          <input style="width: 180px; height: 40px;" type="text" class="form-control" placeholder="{{ user.naturaleza_de_puesto }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">NOMENCLATURA DE PUESTO </label>
          <input style="width: 750px; height: 40px;" type="text" class="form-control" placeholder="{{ user.nomenclatura_de_puesto }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">TIPO DE PUESTO </label>
          <input style="width: 16 0px; height: 40px;" type="text" class="form-control" placeholder="{{ user.tipo_de_puesto }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">MOTIVO DE ALTA</label>
          <input style="width: 180px; height: 40px;" type="text" class="form-control" placeholder="{{ user.motivo_de_alta }}">
        </div>

        <div style="height: 20px;"></div> <!-- Separador -->

        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">CODIGO PERSONAL</label>
          <input style="width: 150px; height: 40px;" type="text" class="form-control" placeholder="{{ user.codigo_de_personal }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">GENERO(ADRYAN)</label>
          <input style="width: 180px; height: 40px;" type="text" class="form-control" placeholder="{{ user.genero_adryan }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">FECHA DE INGRESO(ADRYAN)</label>
          <input style="width: 210px; height: 40px;" type="text" class="form-control" placeholder="{{ user.fecha_de_ingreso }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">TIPO DE CONTRATO(ADRYAN)</label>
          <input style="width: 250px; height: 40px;" type="text" class="form-control" placeholder="{{ user.tipo_de_contrato_adryan }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">TIPO DE JORNADA(ADRYAN)</label>
          <input style="width: 250px; height: 40px;" type="text" class="form-control" placeholder="{{ user.tipo_de_jornada_adryan }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">NACIONALIDAD(ADRYAN)</label>
          <input style="width: 180px; height: 40px;" type="text" class="form-control" placeholder="{{ user.nacionalidad_adryan }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">TIEMPO DE SERVICIO</label>
          <input style="width: 300px; height: 40px;" type="text" class="form-control" placeholder="{{ user.tiempo_de_servicio_anios }}{{"(Años) - "}}{{user.tiempo_de_servicio_meses }}{{"(Meses) - "}} {{ user.tiempo_de_servicio_dias }} {{"(Dias)"}}">
        </div>

        <div style="height: 20px;"></div> <!-- Separador -->


        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">CORREO ELECTRONICO (ADRYAN)</label>
          <input style="width: 300px; height: 40px;" type="text" class="form-control" placeholder="{{ user.correo_corporativo_adryan }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">FECHA DE NACIMIENTO (ADRYAN)</label>
          <input style="width: 250px; height: 40px;" type="text" class="form-control" placeholder="{{ user.fecha_de_nacimiento_adryan }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">EDAD(ADRYAN)</label>
          <input style="width: 120px; height: 40px;" type="text" class="form-control" placeholder="{{ user.edad_adryan }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">GENERACIÓN(ADRYAN)</label>
          <input style="width: 200px; height: 40px;" type="text" class="form-control" placeholder="{{ user.generacion_adryan }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">JEFE INMEDIATO(ADRYAN)</label>
          <input style="width: 300px; height: 40px;" type="text" class="form-control" placeholder="{{ user.jefe_inmediato_jerarquico }}">
        </div>
        <div class="mb-3" style="display: inline-block;">
          <label style="font-weight: bold;" for="disabledTextInput" class="form-label">REEMPLAZA A?</label>
          <input style="width: 120px; height: 40px;" type="text" class="form-control" placeholder="{{ user.reemplaza_a }}">
        </div>    
      </div>
    </form>


<div class="space"></div>
<div>
    <button name="back" class="btn btn-secondary" onclick="history.back(); return false;"> <i class="fa fa-arrow-left"> Volver</i> </button>
    <button class="btn btn-success" onclick=""><a href="{% url 'detail_active' iduser=user.id %}">Ver activos asignados</a></i></button>
    <button name="acta" class="btn btn-primary" onclick="window.location.href='generar_acta_entrega/{{ user.id }}'"><i class="fa fa-file-text-o" aria-hidden="true"></i> Generar Acta</button>
   </div>
  </div>
{% endblock%}